body {
    margin-top: 100px;
    background-color: #dbdbdb;
}

.container {
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow:  20px 20px 60px #bababa,
                -20px -20px 60px #fcfcfc;
}

.item {
    padding: 10px;
    font-size: 18px;
    font-family: arial;
    background: #c4cfcf;
    margin-bottom: 5px;
    border-radius: 5px;
}

.item input {
    vertical-align: top;
}

input:checked + span {
    text-decoration: line-through;
}

span {
    padding-left: 10px;
}

